.perfil-container {
    position: relative;
    display: inline-block;
}

.perfil-icono {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-perfil {
     position: absolute;
    top: 100%;
    right: 0;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1000;
}

.oculto {
    display: none;
}
